<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd">
	<servers>
		<server>
			<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_NAME}</id>
			<username>aws</username>
			<password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
		</server>
		<server>
			<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_NAME}</id>
			<username>aws</username>
			<password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
		</server>
	</servers>	
	<profiles>
		  <profile>
		    <id>${env.AWS_CODEARTIFACT_DOMAIN}</id>
		    <activation>
		      <activeByDefault>true</activeByDefault>
		    </activation>
		    <repositories>
				<repository>
					<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_NAME}</id>
					<url>${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_URL}</url>
				</repository>
				<repository>
					<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_NAME}</id>
					<url>${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_URL}</url>
				</repository>
		    </repositories>
		  </profile>
	</profiles>
	<mirrors>
		<mirror>
			<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_NAME}</id>
			<name>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_NAME}</name>
			<url>${env.AWS_CODEARTIFACT_LIBRARY_REPOSITORY_URL}</url>
			<mirrorOf>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_NAME}</mirrorOf>
		</mirror>
		<mirror>
			<id>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_NAME}</id>
			<name>${env.AWS_CODEARTIFACT_DOMAIN}-${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_NAME}</name>
			<url>${env.AWS_CODEARTIFACT_REPOSITORY_CENTRAL_URL}</url>
			<mirrorOf>*</mirrorOf>
		</mirror>		
	</mirrors>
</settings>
